main {
  background-image: url('../../images/activities-bg-2.png');
  height: 539px;
  position: relative;
  z-index: 10;
  >.container {
    position: relative;
    bottom: 200px;
  }
}

.activities {
  .glider-track {
    padding: 30px;
  }
  .glider-slide {
    margin: 10px 30px 10px 0px;
    height: 426px !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    h2 {
      padding: 30px;
      font-size: 24px;
      text-transform: uppercase;
      color: white;
      font-weight: 100;
    }
    &:nth-child(1) {
      background: url('../../images/activity-1.jpg') no-repeat center/cover;
    }
    &:nth-child(2) {
      background: url('../../images/activity-2.jpg') no-repeat center/cover;
    }
    &:nth-child(3) {
      background: url('../../images/activity-3.jpg') no-repeat center/cover;
    }
    &:nth-child(4) {
      background: url('../../images/activity-4.jpg') no-repeat center/cover;
    }
    &:nth-child(5) {
      background: url('../../images/activity-1.jpg') no-repeat center/cover;
    }
    &:nth-child(6) {
      background: url('../../images/activity-2.jpg') no-repeat center/cover;
    }
    &:nth-child(7) {
      background: url('../../images/activity-3.jpg') no-repeat center/cover;
    }
    &:nth-child(8) {
      margin-right: 0;
      background: url('../../images/activity-4.jpg') no-repeat center/cover;
    }
    &:nth-child(odd) {
      margin-top: 80px;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
      transform: translateY(-5px);
    }
  }

  .glider-dots {
    margin-top: 40px;
  }
}